<template name="AppLayout">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/About">About Us</a>
      </li>

      <li>
        <a href="/Menu">Services Offered</a>
      </li>
      <li>
        <a href="/Booking">Schedule Your Appointment</a>
      </li>
      <li>
        <a href="/HowTos">How-Tos</a>
      </li>               
    </ul>
  </nav>

  <article>
    {{> yield}}
  </article>
</template>

<template name="Home">
  <div class="container-fluid">
      <div id="floater" class="col-lg-9">
          <p class="xl">:(</p>
          <p class="reg">Your PC ran into a problem and needs to restart. We're just collecting some error info, and then we'll restart for you.  (17% complete)</p>
          <p class="xs">If you'd like to know more, you can search online later for this error, HAL_INITIALIZATION_FAILED</p>

          <p>
              <button class="btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-wrench">
                  OR <span class="brand">SuLaLa IT Solutions</span> can help!
              </span>
              </button>
          </p>
      </div>
  </div>  
</template>

<template name="About">
  Page One
</template>

<template name="Menu">
  Menu
</template>

<template name="Booking">
  Booking
</template>

<template name="HowTos">
  How Tos
</template>