body {
  font-family: 'WeblySleek';
  background-color: rgba(61, 93, 255, 1);
  color: rgba(255, 255, 210, 1);
}

.reg {
  font-size: 2em;
  font-weight: normal;
}

.xl {
  font-size: 8em;
}

.xs {
  font-size: 1.2em;
  margin: 2em auto;
}

#floater {
  float: none;
  margin: auto;
  vertical-align: middle;
}

.brand {
  color: rgba(255, 200, 100, 1);
}

.brand:hover {
  color: rgba(155, 200, 100, 1);
}

.btn-block {
  margin: 20em 0 0 0;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(100, 200, 250, 1);
  font-size: 2em;
}

.glyphicon-wrench {
  padding-left: 3em;
}